<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Records</title>

    <!--Boostrap 4-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'main.css') }}"
    />
  </head>
  <body>
    <main class="container p-4">
      <h1 class="text-center">Records List</h1>

      <div class="row">
        <div class="col-md-10 offset-md-1 my-auto">
          <div class="card">
            <div class="card-header">
              <!-- <form action="create_sensor" method="POST">
                <div class="form-group">
                  <input
                    type="text"
                    name="content"
                    placeholder="sensor"
                    class="form-control"
                    autofocus
                    required
                  />
                </div>

                <button type="submit" class="btn btn-success btn-block">
                  Guardar
                </button>
              </form> -->
            </div>
            <div class="card-body">
              <ul class="list-group">
                {% for record in records %}
                <li class="list-group-item">
                  <span >Sensor:{{record.sensorId}}</span>
                  <span >Temperatura:{{record.temperature}}</span>
                  <span >Humedad: {{record.humidity}}</span>
                  <span >Longitud :{{record.longitude}}</span>
                  <span >Latitud: {{record.latitude}}</span>
                  <span >Fecha: {{record.date}}</span>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
